@import "../variables";
@import "../mixins/effects";

.mer {
  &-theme {
    height: 100%;
    display: flex;
    flex-direction: column;

    .mer-body {
      flex: 1 1;
      overflow: auto;
      color: $merFontColor;
      font-size: 90%;
    }

    .mer-page {
      display: flex;
      flex-direction: column;

      &-content {
        flex: 1 1;
      }

      &-title {
        font-size: 1.6rem;
        padding: 1rem 0;
        margin: 0;

        @media (min-width: $screen-sm) {
          font-size: 2.4rem;
          padding: 2rem 0;
        }
      }

      .mer-footer {
        flex: 0 0;
      }

    }
  }

  &-section {
    padding: $merGap*4 0;
    @include border(top);

    p {
      margin: 0;
    }
  }

  &-skipArrow {
    position: relative;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: white;
    @include border(bottom);
    z-index: 1;

    a {
      position: absolute;
      bottom: -1.75rem;
      @include transition(bottom, $merAnimationDuration);

      &:hover {
        bottom: -2.25rem;
        text-decoration: none;
      }

      span {
        display: block;
        font-style: italic;
      }
    }

    .mer-icon {
      font-size: 2rem;
    }
  }

  &-footer {
    padding: $merGap*6 0;
    margin-top: $merGap*6;
    @include border(top);

    p {
      margin: 0
    }
  }
}
