{% assign translatedSet=include.set | where:'lang', page.lang %}
{% assign p=page %}

<nav class="mer-breadcrumb">
  {% for i in (0..9) %}

  <div class="mer-breadcrumb-item">
    /
    {% if page.ref==p.ref %}
    <span class="mer-secondary p-1">{{p.title}}</span>
    {% else %}
    <a class="p-1" href="{{site.baseurl}}{{p.url}}">{{p.title}}</a>
    {% endif %}
  </div>

  {% assign p=translatedSet | where:'ref', p.parent | first %}

  {% if p==nil %}
  {% break %}
  {% endif %}

  {% endfor %}

</nav>

