{% assign translatedSet=include.set | where:'lang', page.lang %}
{% assign allPagesAndPosts=site.posts | concat: site.pages %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% capture pageRefHierarchy %}{% include fn-get-hierarchy.html page=page %}{% endcapture %}
    {% assign pageRefHierarchy = pageRefHierarchy | strip_newlines | split: ',' | reverse %}

    {% for ref in pageRefHierarchy %}

    {% assign pageData = allPagesAndPosts | where:'ref', ref | first %}

    <li class="breadcrumb-item" {% if page.ref==ref %} aria-current="page" {% endif %}>
      {% if page.ref==ref %}
      {{pageData.title}}
      {% else %}
      <a href="{{site.baseurl}}{{pageData.url}}">{{pageData.title}}</a>
      {% endif %}
    </li>

    {% endfor %}
  </ol>
</nav>
