{% for feature in include.features %}
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 {% cycle '', 'push-md-5' %}">
    <h2 class="featurette-heading">{{feature.header}}</h2>

    {% for contentParagraph in feature.content %}
    <p class="lead">{{contentParagraph}}</p>
    {% endfor %}
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto"
         src="{{feature.image.url}}"
         alt="{{feature.image.alt}}">
  </div>
</div>
{% endfor %}
