{% assign home=site.data.locales[page.lang].home %}

<div class="mer-greetings">
  <div class="mer-greetings-text pr-md-3">
    <h1>{{home.intro.header}}</h1>
    <div class="lead">{{home.intro.content | markdownify}}</div>
  </div>

  <aside class="mer-greetings-side mt-3 mt-md-0">

    <div class="mer-greetings-picture">
      <img class="mer-img pt-2 mer-shadedFrame"
           src="/assets/img/profile.jpg"
           alt="profile picture">
    </div>

    <div class="mer-networks pt-md-2">
      <ul class="mer-list">
        {% for network in site.networks %}
        <li class="mer-list-item">
          <a href="{{network.url}}">
            <i class="mer-icon ion {{network.icon}}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </aside>
</div>

