{% assign topLevelPosts=site.posts | where:'parent', 'posts' %}
{% assign dictionary=site.data.dictionary %}

<header>
  <h1>{{page.title}}</h1>
  <p>{{dictionary.postsSubHeader | markdownify}}</p>
</header>

{% for p in topLevelPosts %}
{% assign subTopic=site.posts | where:'parent', p.ref %}

<div class="mer-section pt-3 border-top">
  {% include section-header.html href=p.url title=p.title %}
  <p class="text-secondary small">{{p.date | date: "%Y-%m-%d"}}</p>

  <div class="mer-posts-description">
    {{p.description | markdownify}}

    {% if subTopic %}
    <ul class="my-3">
      {% for sp in subTopic %}
      <li>
        <a href="{{site.baseurl}}{{sp.url}}">{{sp.title}}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% include tags.html tags=p.tags %}
  </div>
</div>
{% endfor %}

