{% assign translatedPosts=site.posts | where:'lang', page.lang %}
{% assign topLevelPosts=translatedPosts | where:'parent', 'posts' %}

<div class="mer-posts">
  {% for p in topLevelPosts %}
  {% assign subTopic=translatedPosts | where:'parent', p.ref %}

  <div class="mer-section">
    <h2 class="mb-2">
      <a class="mer-link" href="{{site.baseurl}}{{p.url}}">{{p.title}}</a>
      <span class="pl-2 mer-secondary mer-posts-date">{{p.date | date: "%Y-%m-%d"}}</span>
    </h2>

    <div class="mer-posts-description">
      <div class="mb-2">
        {{p.description | markdownify}}
      </div>

      {% if subTopic %}
      <ul class="mt-2 mb-2">
        {% for sp in subTopic %}
        <li>
          <a href="{{site.baseurl}}{{sp.url}}">{{sp.title}}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% include tags.html tags=p.tags %}
    </div>
  </div>
  {% endfor %}
</div>

