<div class="mer-socials">
  <!-- wrap the buttons in separated divs as the script will replace the elements -->
  <div class="mer-googlePlus">
    <div class="g-plusone" data-size="medium"></div>
  </div>

  <div class="mer-facebook">
    <div class="fb-like"
         data-href="{{site.url}}{{page.url}}"
         data-layout="button_count"
         data-action="like"
         data-size="small"
         data-show-faces="false"
         data-share="true"></div>
  </div>

  <a class="mer-twitter" href="https://twitter.com/share">
    <i class="ion-logo-twitter"></i>
    <span class="small">Tweet</span>
  </a>
</div>
