@import "variables";

$pageShadow: 0 2px 6px rgba(black, .6);
$animationDuration: .75s;
$gridGap: 3rem;
$gridGapXl: 5rem;
$opacityTransition: opacity .5s ease-in;

@mixin bodyBackground() {
  background: url('images/tileable-wood.png') repeat 0 0;
}

@mixin pageBackground() {
  background: #fff url('images/groovepaper.png') repeat 0 0;
}

@mixin tblr0() {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mer-theme-paper {

  div.highlight {
    width: 100%;
    padding: $gap-md;
    margin: $gap-lg 0;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    overflow: auto;

    pre {
      margin: 0;
    }
  }

  .mer {
    &-body {
      position: relative;
      padding: $gap-lg 0;

      &:before {
        content: '';
        position: fixed;
        z-index: -1;
        @include tblr0();
        @include bodyBackground();
      }
    }

    &-page {
      position: relative;
      padding: $gap-lg;
      box-shadow: $pageShadow;
      @include pageBackground();

      &.mer-grid {
        display: grid;
        grid-template-columns: 100%;
        gap: $gridGap;
      }

      ul {
        margin: 0
      }
    }

    &-nav {
      border: solid var(--bs-secondary);
      border-width: 2px 0;

      .parent-active {
        margin: calc(.5rem - 1px) 1rem;
        padding: 0;
        border-bottom: 1px solid var(--bs-primary);
      }
    }

    &-skipArrow {
      position: relative;
      height: 2.5rem;
      margin-bottom: $gap-xl;
      z-index: 1;

      a {
        position: relative;
        bottom: -$gap-xl;
      }

      .mer-icon {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &-aos {
      transition: $opacityTransition, transform .25s ease;

      &.mer {
        &-no-transition {
          transition: none;
        }

        &-initial {
          opacity: 0;
          transform: translateX(-2.5%);
        }

        &-enter {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  [data-layout="index"] .mer {

    &-intro {
      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &-social {
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      margin: 0 auto;
    }

    &-links {
      margin-bottom: $gridGap;

      .mer-icon {
        height: 3rem;
        width: 3rem;
      }
    }

    &-picture {
      transform: rotate(2.5deg);
      box-shadow: $pageShadow;

      img {
        display: block;
        border: 10px white solid;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -10px;
        left: 4.5%;
        width: 12%;
        height: 300px;
        background: url('images/paper-clip.png') no-repeat;
        background-size: contain;
      }
    }

    &-icon {
      height: 1.5rem;
      width: 1.5rem;
    }

    &-skills {
      .mer-readMore {
        display: block;
        text-align: right;
        padding: $gap-lg 0 0;
      }
    }

    &-cloud {
      height: 200px;
      opacity: .5;
      transition: $opacityTransition;

      &:hover {
        opacity: .8;
      }
    }

    &-projects,
    &-posts {
      li {
        padding: $gap-lg 0;
        border-bottom: 1px solid rgba(black, .125);
      }
    }

    @media screen and (min-width: $screen-md) {
      &-grid {
        grid-template-columns: 2fr 1fr;
      }

      &-social {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }

      &-links {
        order: 2;
        margin-top: $gap-xl;
        margin-bottom: 0;

        .mer-icon {
          height: 2rem;
          width: 2rem;
        }
      }

      &-cloud {
        grid-column: 1 / span 2;
      }

      &-skills,
      &-projects,
      &-posts {
        grid-column: 1 / span 2;

        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0 (-$gap-lg);
          padding: 0;
          list-style: none;
        }
      }

      &-skills {
        li {
          flex: 0 0 50%;
          padding: $gap-sm $gap-lg;
        }
      }

      &-projects,
      &-posts {
        li {
          flex: 0 0 calc(50% - #{$gap-lg * 2});
          margin: 0 $gap-lg;
        }
      }
    }

    @media screen and (min-width: $screen-lg) {
      &-grid {
        grid-template-columns: repeat(4, 1fr);
      }

      &-intro {
        grid-column: 1 / span 3;
      }
      &-social {
        grid-column: 4 / span 1;
      }

      &-skills {
        grid-column: 1 / span 2;
      }
      &-cloud {
        grid-column: 3 / span 2;
        align-self: flex-end;
      }

      &-projects,
      &-posts {
        grid-column: 1 / span 4;
      }
    }

    @media screen and (min-width: $screen-xxl) {
      &-grid {
        grid-gap: 5rem;
      }
    }
  }

  [data-layout="about"] .mer {

    &-page {
      h1 {
        margin: 0;
      }
    }

    &-links {
      .mer-icon {
        height: 3rem;
        width: 3rem;
      }
    }

    &-contracts,
    &-projects {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

    &-split_labelLogo {
      display: flex;
      align-items: center;

      .mer-label {
        flex: 1 1 auto;
        padding-right: $gap-md;
      }

      .mer-logo {
        flex: 0 1 75px;
      }

      img {
        width: 100%;
        height: auto;
        max-height: 50px;
        z-index: -1;
        opacity: .4;
      }
    }

    &-contract {
      &-header {
        border-top: 1px solid var(--bs-dark);
        margin-top: $gap-lg;
        padding: $gap-lg 0;
      }

      &-organization {
        font-size: calc(1.275rem + 0.3vw);
      }

      &-location {
        color: var(--bs-secondary);
      }
    }

    &-projects {
      > li {
        margin-top: $gap-lg;
      }
    }

    &-project {
      &-header {
        border-top: 1px solid lighten(black, 80);
        margin-top: $gap-md;
        padding: $gap-md 0;

        .mer-period {
          font-size: .8rem;
          color: var(--bs-secondary);
        }
      }

      .mer-tags {
        margin: $gap-md 0;
        padding: 0;
        list-style: none;

        > li {
          margin-bottom: $gap-sm;
          font-size: .8rem;
          color: var(--bs-secondary);
        }
      }
    }

    &-frame {
      position: relative;
      perspective: 1000px;
      height: 325px;
      box-shadow: $pageShadow inset;
      @include pageBackground();

      &:before {
        position: absolute;
        display: none; // TODO remove
        content: '';
        @include tblr0();
        @include pageBackground();
      }

      &.fxClick {
        display: grid;
        grid-gap: $gap-lg;
        padding: $gap-lg;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 60px;

        &.mer-view_enter {
          .mer-stats {
            .mer-bar {
              &:nth-of-type(2),
              &:nth-of-type(3) {
                animation: animateRedBeep ease-in-out $animationDuration/2;
              }

              &:nth-of-type(3) {
                animation-delay: $animationDuration;
              }
            }
          }

          .mer-chart,
          .mer-chart-b {
            .mer-bar {
              animation: animateScaleYAndBack ease-in-out $animationDuration;

              &:nth-of-type(2n) {
                animation-delay: .1s;
              }
            }
          }
        }

        img {
          height: auto;
          max-height: 50px;
          width: 100%;
          filter: drop-shadow(0 2px 2px rgba(black, .3));
        }

        .mer-company-logo {
          display: flex;
          justify-content: center;
        }

        .mer-tech-stack {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 (-$gap-lg/2);

          .mer-logo {
            margin: 0 $gap-lg/2;
          }
        }

        .mer-screen {
          justify-self: center;
          width: 80%;
          margin-top: $gap-lg;
          display: grid;
          grid-gap: $gap-lg;
          grid-template-rows: min-content 1fr 1fr;
          grid-template-columns: 1fr 1fr;
          border: 8px solid lighten(black, 20);
          box-shadow: $pageShadow;
          border-radius: $borderRadius;

          .mer-header {
            grid-row: 1 / span 1;
            grid-column: 1 / span 2;
            margin: 0 $gap-lg;
            padding: $gap-md;
            border-bottom: 1px solid #888;

            .mer-logo {
              flex-basis: 50px;
              background: url('logos/citi.svg') no-repeat right;
              background-size: contain;
            }
          }

          .mer-stats {
            grid-row: 2 / span 2;
            grid-column: 1 / span 1;

            display: flex;
            flex-direction: column;
            margin-bottom: $gap-lg;
            margin-left: $gap-lg;

            .mer-bar {
              height: calc((100% - (3 * 2 * #{$gap-sm})) / 4);
              margin: $gap-sm 0;
              background-color: rgba($citiBluePale1, .25);
              background-image: repeating-linear-gradient(90deg,
                transparent,
                transparent 33.3%,
                rgba($citiBluePale1, .5) 33.3%,
                rgba($citiBluePale1, .5) calc(33.3% + 1px));

              &:nth-of-type(2n) {
                background-color: rgba($citiBluePale2, .25);
              }

              &:last-of-type {
                margin-bottom: 0
              }
            }
          }

          .mer-chart,
          .mer-chart-b {
            grid-column: 2 / span 1;
            display: flex;
            align-items: flex-end;
            margin-right: $gap-lg;

            .mer-bar {
              margin: 0 $gap-sm;
              width: calc((100% - (3 * 2 * #{$gap-sm})) / 4);
              background-color: $citiBluePale1;
              transform-origin: bottom;

              &:first-of-type {
                margin-left: 0;
              }

              &:last-of-type {
                margin-right: 0;
              }

              &:nth-of-type(2n) {
                background-color: $citiBluePale2;
              }
            }
          }

          .mer-chart {
            grid-row: 2 / span 1;

            .mer-bar {
              &:nth-of-type(1) {
                height: 25%;
              }

              &:nth-of-type(2) {
                height: 35%;
              }

              &:nth-of-type(3) {
                height: 60%;
              }

              &:nth-of-type(4) {
                height: 90%;
              }
            }
          }

          .mer-chart-b {
            grid-row: 3 / span 1;
            margin-bottom: $gap-lg;

            .mer-bar {
              &:nth-of-type(1) {
                height: 80%;
              }

              &:nth-of-type(2) {
                height: 90%;
              }

              &:nth-of-type(3) {
                height: 75%;
              }

              &:nth-of-type(4) {
                height: 60%;
              }
            }
          }
        }

        @media screen and (min-width: $screen-md) {
          grid-template-columns: auto 60px;
          grid-template-rows: 1fr;

          .mer-tech-stack {
            grid-column: 2 / span 1;

            flex-wrap: wrap;
            margin: 0;
          }

          .mer-screen {
            grid-column: 1 / span 1;
            margin: $gap-lg 0;
          }
        }

        @media screen and (min-width: $screen-xl) {
          grid-template-columns: 100%;
          grid-template-rows: 1fr 60px;

          .mer-tech-stack {
            grid-column: 1 / span 1;
            grid-row: 2;
            margin: 0 (-$gap-lg/2);
            flex-wrap: nowrap;
          }

          .mer-screen {
            grid-row: 1 / span 1;
            margin: $gap-lg 0 0;
          }
        }
      }
    }

    @media screen and (min-width: $screen-lg) {
      &-grid {
        grid-template-columns: 1fr auto;
      }

      &-links {
        grid-column: 2 / span 1;
      }
      &-intro {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
      }
      &-skills {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
      }
      &-experience {
        grid-row: 4 / span 1;
        grid-column: 1 / span 2;
      }

      &-links {
        a {
          padding: 0 $gap-lg;
        }
      }
      &-frame {
        width: 75%;
        margin: 0 auto;
      }
    }

    @media screen and (min-width: $screen-xl) {
      &-project-details.withShowcase {
        display: flex;

        .mer-frame {
          flex: 0 0 40%;
          margin-left: $gap-lg;
        }
      }

    }
  }

  [data-layout="grid-nav"],
  [data-layout="topic"] {
    .mer {
      &-grid {
        grid-gap: $gridGapXl;
      }

      &-tags {
        margin: 0 (-$gap-sm);
      }

      &-tag {
        display: block;
        font-size: .8rem;
        padding: $gap-sm $gap-md;
        margin: $gap-sm;
        border-radius: $borderRadius;
        border: 1px solid var(--bs-secondary);
      }
    }
  }

  [data-layout="grid-nav"] .mer {
    &-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: $screen-md) {
      &-tags {
        justify-content: flex-start;
      }
    }

    @media screen and (min-width: $screen-lg) {
      &-grid {
        grid-template-columns: repeat(2, 1fr);
      }

      &-page {
        & > header {
          grid-column: 1 / span 2;
        }
      }
    }
  }

  [data-page="projects"],
  [data-layout="topic"] {
    .mer-icon {
      height: 2rem;
      width: 2rem;
    }
  }

  [data-page="projects"] .mer {
    &-icon {
      height: 2rem;
      width: 2rem;
    }

    &-section {
      flex-direction: column;

      .mer-project {
        &-preview {
          text-align: center;
        }

        &-links {
          a {
            padding: $gap-md
          }
        }
      }
    }

    @media screen and (min-width: $screen-lg) {
      &-section {
        &.withImage {
          grid-column: 1 / span 2;
          flex-direction: row;
        }

        .mer-project {
          &-preview {
            order: 2;
            flex: 0 0 50%;
            padding-left: $gridGap;
          }

          &-details {
            flex: 1 0 50%;
          }
        }
      }
    }
  }

  [data-layout="topic"] .mer {
    &-page {
      h2 {
        padding-top: $gap-lg;
        border-top: 1px solid var(--bs-secondary);
        margin: $gap-xxl 0 $gap-xl;
      }

      h3 {
        margin: $gap-xl 0 $gap-xl;
      }

      h4 {
        margin: $gap-lg 0 $gap-md;
      }

      img {
        max-height: 350px;
      }

      ul {
        margin-bottom: $gap-lg;
      }
    }

    &-project-tags {
      margin: $gap-md (-$gap-sm);

      & > img,
      & > a {
        padding: $gap-sm;
      }
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (min-width: $screen-md) {
      &-tags {
        justify-content: flex-start;
      }
    }
  }
}

@keyframes animateScaleYAndBack {
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes animateRedBeep {
  0% {
    box-shadow: 0 0 $citiRed;
  }
  25% {
    box-shadow: 0 0 5px $citiRed;
    background-color: rgba($citiRed, .15);
  }
  50% {
    box-shadow: 0 0 $citiRed;
  }
  75% {
    box-shadow: 0 0 10px $citiRed;
    background-color: rgba($citiRed, .25);
  }
  100% {
    box-shadow: 0 0 $citiRed;
  }
}

