@import "variables";

.mer-greetings {
  &-side {
    display: flex;
    flex-wrap: nowrap;

    .mer-greetings-picture {
      flex: 0 0;
      flex-basis: 100px;
    }

    .mer-networks {
      flex: 1 1;

      .mer-list {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 100%;
      }

      .mer-icon {
        font-size: 3.4rem;
      }
    }
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: nowrap;

    &-text {
      flex-basis: 80%;
    }
    &-side {
      display: block;
      flex-basis: 20%;

      .mer-networks {
        flex-basis: 100%;

        .mer-icon {
          font-size: 2.4rem;
        }
      }
    }
  }
}
