@import "variables";

.mer-index {
  padding: $merGap*4 0;

  .mer {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      flex: 1;

      a {
        display: block;
        font-size: 1.2rem;
        color: $merFontColor;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
