@import "variables";

.mer-posts {
  h2 {
    font-size: 1.2rem;
    display: flex;
    align-items: baseline;

    .mer-link {
      flex: 1 1;
    }
  }

  &-date {
    font-size: .8rem;
    font-weight: normal;
  }

  &-description {
    font-size: 80%;
  }

  @media (min-width: $screen-sm) {
    h2 {
      font-size: 1.6rem;
    }

    &-description {
      font-size: 100%;
    }
  }
}

