@import "variables";
@import "mixins/effects";

.mer-projects {

  h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }

  &-body {
    font-size: 80%;

    .mer {
      &-links {
        display: flex;
        justify-content: center;
      }

      &-link {
        text-align: center;
        padding: $merGap*2 $merGap*4;
      }

      &-icon {
        display: block;
        font-size: 3rem;
      }
    }
  }

  &-image {
    text-align: center;

    img {
      max-height: 200px;
    }
  }

  @media (min-width: $screen-sm) {
    h2 {
      font-size: 1.6rem;
    }

    &-body {
      font-size: 100%;
    }

    img {
      max-height: none;
      height: auto;
    }
  }

  @media (min-width: $screen-md) {
    &-body .mer-icon {
      font-size: 4rem;
    }
  }

  @media (min-width: $screen-lg) {
    .mer-section .row {
      width: 100%;
    }

    &-body {
      display: flex;
      flex-direction: column;

      .mer-projects-description {
        flex-grow: 1;
      }
    }
  }
}
