@import "variables";

.mer-socials .mer {

  &-googlePlus,
  &-facebook,
  &-twitter {
    margin: 0 $merGap;
    display: inline-block;
    vertical-align: middle;
  }

  &-googlePlus {
    font-size: 0;
  }

  &-twitter {
    &,
    &:hover {
      color: #0084b4;
      text-decoration: none;
    }
  }
}
