@import "variables";
@import "mixins/effects";

.mer-topic {

  h2 {
    padding-top: .8rem;
    @include border(top);
  }

  p {
    .mer-icon {
      font-size: 120%;
      vertical-align: baseline;
    }
  }

  .mer {
    &-img {
      max-height: 350px;
    }

    &-socials {
      margin-top: $merGap*6;
      text-align: center;
    }
  }
}
