$merAnimationDuration: 250ms;
$merAnimationTiming: ease-in-out;

$merFontColor: #5a5a5a;
$merFontColor_secondary: #888;
$merColor_secondary: #ccc;

$merGap: .25rem;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
