---
layout: default
---

{% assign pageData=site.data.locales[page.lang].about %}

<div class="mer-about">

  <section class="mer-section mer-intro">
    {% include greetings.html %}

    {% assign about=pageData.about %}

    <div class="mt-3 mer-secondary">{{about.content | markdownify}}</div>
  </section>

  <section class="mer-section mer-work">
    {% assign experience=pageData.experience %}

    <h2>{{experience.header}}</h2>

    {% for expType in experience.types %}
    <div class="row no-gutters">
      <div class="col-12 col-lg-4">
        <h3>{{expType.name}}</h3>
      </div>
      <ul class="mer-list col-12 col-lg-8">
        {% for position in expType.positions %}
        <li>
          <h4>{{position.title}}</h4>
          <p class="mer-secondary">
            <span class="pr-2 font-weight-bold">{{position.organization}}</span>
            <span>{{position.period}}</span>
          </p>

          <ul class="mer-list mer-responsibilities">
            {% for resp in position.responsibilities %}
            <li>{{resp | markdownify}}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>

  <section class="mer-section mer-skills">
    {% assign skills=pageData.skills %}
    {% assign logoDir=site.data.logos.config.logoDir %}
    {% assign logoById=site.data.logos.data %}

    <h2>{{skills.header}}</h2>

    {% for language in skills.languages %}
    <div class="row align-items-center mb-2 mb-md-3">
      <div class="col-12 col-md-4">{{language.name}}</div>
      <div class="col-md-1 d-none d-md-block mer-languageLogo">
        <img src="{{logoDir}}/{{logoById[language.id].path}}"
             alt="{{language.name}}">
      </div>
      <div class="col-12 col-md-7">
        {% assign value=language.value | times: 20 %}

        {% include bulletChart.html
        value=value
        color=language.color
        %}
      </div>
    </div>
    {% endfor %}

    {% for domain in skills.domains %}
    <div class="row mer-domainRow" title="{{domain.name}}">
      {% for item in domain.items %}
      <div class="col-3 col-sm-2 col-lg-1 mer-domainCol">
        <div class="mer-card"
             title="{{logoById[item].name}}">
          <a class="p-2"
             href="{{logoById[item].site}}"
             target="_blank">
            <span class="mer-alignHelper"></span>
            <img src="{{logoDir}}/{{logoById[item].path}}"
                 alt="{{logoById[item].name}}"/>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </section>

  <section class="mer-section">
    {% assign education=pageData.education %}

    {% for educType in education.types %}
    <div class="row no-gutters mt-3">
      <div class="col-12 col-lg-4">
        <h3>{{educType.name}}</h3>
      </div>
      <ul class="mer-list col-12 col-lg-8">
        {% for achievement in educType.achievements %}
        <li class="mt-2">
          <h4>{{achievement.title | markdownify}}</h4>
          <p class="mer-secondary">{{achievement.location}} - {{achievement.year}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>
</div>
